:root {
    font-size: 12px;
}

h1, h2 {
    margin:0 0 0 0 ;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: 100vw;
    gap: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    background-color: blue;
    color: white;
    padding: 12px 18px 12px 18px;
    border-radius: 12px;
}
.header h1 {
    margin-bottom: 6px;
}

.bookShelf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    background-color: lightgray;
    height: 100%;
    border-radius: 12px;
    padding: 12px 18px 12px 12px;
}
.bookShelf div {
    background-color: white;
    height: 200px;
}